*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #F0ECDB;
	background-image: url("630.jpg");
}
#container{
	width: 930px;
	margin: 0 auto;
	background-color: #E6D6B3;
	padding: 5px;

}
header{
	text-align: center;
	font-family: Georgia;
}
nav{
	width: 930px;
	margin: 0 0 10px 0;
	padding: 10px;
	text-align: center;

}
nav li{
	display: inline;
	list-style-type: none;
	padding: 10px;
}
aside{
	width: 200px;
	margin: 10px;
	padding: 10px;
	float: left;
	background-color: #334D19;
	text-align:left;
	color: #E6D6B3;
}
aside a:visited, aside a:link{
	color: #E6D6B3;
}
aside a:hover{
	color: #F0EADB;
}
#main{
	width: 680px;
	margin: 0 0 10px 0;
	min-height:400px;
	float: right;
}
ul{
	list-style-position: inside;
}
a:link, a:visited{
	text-decoration: none;
	color: #334D19;
}
a:hover{
	text-decoration: underline;
	color: #336600;
}
footer{
	text-align: center;
	clear: both;
	padding-top: 100px;
}
.header{
	width: 400px;
	margin: 0 auto;
}
.header img{
	float: left;
}
header img{
	clear: both;
	float: left;
}
#main{
	font: normal 1em Georgia, serif;
}
.content{
	clear: both;
	padding-top: 10px;
}